.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(71, 69, 69);
    margin:auto;
    position: relative;
    top: 100px;
    display: grid;
    font-size: 10px;
    gap: 5px;
    padding: 10px;
    
}

.calculator>.form-group{
    display: flex;
    justify-content: space-between;
     gap: 5px;

}

.calculator>.form-group>button{
    width:25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.calculator>.form-group>button:hover{
    background-color: grey;
}

.calculator>.form-group>input{
    width: 100%;
    font-size: 40px;
    border: 1px solid rgb(140, 135, 135);
    text-align: end;
    outline: none;
    border-radius: 5px;
    padding-right:10px ;
}

.evaluate{
    color: aliceblue;
    background-color: blue;
    font-size: 30px;

}

.calculator>.form-group>.evaluate:hover{
    background-color: rgb(68, 145, 145);
}